body{
    background:url(https://images8.alphacoders.com/134/thumbbig-1346191.webp) no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 600px;
}
.wrapper{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 350px;
    text-align: center;
    border:1px solid rgb(241,241,241);
    border-radius: 12px;
    padding: 10px 20px;
    background: transparent;
    backdrop-filter:blur(6px);
    box-shadow: 5px 5px 10px 0 rgb(0,0,0,0.5);
 }
 .wrapper h2{
    font-size: 30px;
    color:#fffefe
 }
 .input-field{
    position: relative;
 }
 .input-field input[type="email"],
 .input-field input[type="Password"]{
  border-radius: 15px;
  background: transparent;
  margin: 15px;
  border: 2px solid rgb(255,255,255);
  width: 280px;
  height: 2px;
  padding: 20px 40px 20px 20px;
  backdrop-filter: blur(15px);
 }
 .input-field i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: rgb(252,252,252);
 }
 .input-field input[type="Email"]:not(:focus)::placeholder,
 .input-field input[type="Password"]:not(focus)::placeholder{
     transform: translateY(100%);
     transition: transform o.2s ease-in-out;
     font-size: 14px;
 }
 .input-field input[type="Email"]:not(:focus)::placeholder,
 .input-field input[type="Password"]:not(focus)::placeholder{
     transform: translateY(0%);
     transition: transform o.2s ease-in-out;
     font-size: 16px;
 }
 a.forgot
 {
  text-decoration:none;
  position: relative;
  color: rgb(255, 255, 255);
}
a.forgot:hover{
  text-decoration: underline;
  color: #fffffffd;
}
a.sign-up{
  text-decoration: none;
  color: rgba(255,255,255,0.712);
}
a.sign-up:hover{
  text-decoration: none;
  color: #fffffffd;
}
.wrapper .Login
{
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 550;
  border-radius: 45px;
  width: 200px;
  height: 28px;
}
.Login {
  position: relative;
  text-align: absolute;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.Login:after {
  content: "";
  background: #419ad4;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.Login:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: rgb(255, 255, 255);
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-twitter:hover {
  opacity: 0.7;
}